/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto&display=swap');

/* Override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* Header */
header {
    position: fixed;
    background-color: #be0101;
    width: 100vw;
    box-shadow: inset 0 -10px 20px 16px #910f0f, 0 2px 2px 0 #565656
}

ul a {
    text-decoration: none;
    color: #000000;
    width: 80vw;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    padding: 0 4px;
}

.active {
    text-decoration: underline;
}

#logo {
    text-align: center;
    text-decoration: none;
    color: #000000;
}

#logo h1 {
    padding: 7px 0;
}

#nav-bar-top {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 90%;
    padding-bottom: 5px;
}

/* Main content */
main {
    margin-top: 75.5px;
    background-color: #1a1a1a;
    height: 100vh;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Index page */

#art-1 h2 {
    text-align: center;
    padding: 10px 0 5px 0;
    font-size: 22px;
}

#art-1 img {
    height: 20vh;
    width: 90%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 2px solid #be0101;
    border-radius: 8px;
    margin-bottom: 10px;
}

#art-1 p {
    padding: 5px 0 5px 0;
    text-align: left;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 17.5px;
}

/* Car page */

#art-2 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#art-2 h2 {
    font-size: 22px;
    padding: 10px 0 10px;
}

#art-2 div p {
    text-align: left;
    font-size: 17.5px;
    padding: 10px 0;
}

#art-2 div img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
    border: 2px solid #be0101;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
 }

.breaker {
    height: 5vh;
} 

/* Mods page */

#art-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#art-3 h2 {
    font-size: 22px;
    padding: 10px 0 5px;
    text-align: center;
}

#art-3 div {
    width: 90%;
    margin: 0 auto;
}

#art-3 p {
    text-align: left;
    font-size: 17.5px;
    padding: 5px 0;
}

#art-3 div img {
    width: 100%;
    height: auto;
    border: 2px solid #be0101;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Newsletter */

#art-4 {
    background-image: url("../images/hero-newsletter.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#art-4 > div {
    width: 80%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
}

#art-4  form {
    background-color: hsla(355, 100%, 52%, 0.6);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

fieldset {
    border: 0;
}

label, input, fieldset {
    padding: 5px;
}

button {
    font-size: 200%;
    background-color: black;
    color: white;
    border: 2px solid white;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
}
/* Footer */
footer {
    background-color: #be0101;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0px 0px 20px 11px #910f0f, 0px -2px 2px 0 #565656;
}

footer a {
    color: #000000;
    font-size: x-large;
}

#newsletter-btn {
    text-decoration: none;
    font-size: 90%;
    line-height: 500%;
}

/* Media query: Tablets (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: inset 0px 2px 20px 16px #910f0f, 0 2px 2px 0 #565656;
    }

    #logo h1 {
        padding: 10px 20px;
        font-size: 250%;
    }

    #nav-bar-top {
        font-size: 120%;
        padding-right: 20px;
        padding-top: 10px;
    }

    /* Main content */
    main {
        margin-top: 68.5px;
    }

    /* Index page */

    #art-1 img {
        height: 45vh;
    }

    #art-1 h2 {
        font-size: 35px;
    }

    #art-1 p {
        font-size: 21px;
    }

    /* Car Page */

    #art-2 div img {
        height: 40vh;
    }
    
   #art-2 div h2 {
      font-size: 35px;
   }

   #art-2 div p {
      font-size: 21px;
   }

   /* Mods page */

   #art-3 h2 {
       font-size: 35px;
   }

   #art-3 p {
       font-size: 21px;
   }

    /* Footer */
    footer a {
        font-size: xx-large;
    }

    #newsletter-btn {
        font-size: 130%;
        line-height: 350%;
    }
}

/* Media query: Laptops (1024px and up) */
@media screen and (min-width: 1024px) {

    /* Header */
    ul a {
        padding-right: 10px;
    }

    #logo h1 {
        font-size: 350%;
    }

    #nav-bar-top {
        font-size: 160%;
    }

    #nav-bar-top a:hover {
        text-decoration: underline;
    }

    /* Main content */
    main {
        margin-top: 88px;
    }

    /* Index page */

    #art-1 img {
        height: 300px;
    }

    #art-1 h2 {
        font-size: 300%;
    }

    /* Car page */

    #art-2 div img {
        height: 50vh;
    }

    #art-2 div h2{
        font-size: 300%;
    }

    /* Mods page */

    #art-3 div h2 {
        font-size: 300%;
    }

    #intro div br {
        display: none;
    }

    /* Footer */
    footer a {
        font-size: xxx-large;
    }
    
    #newsletter-btn {
        font-size: 210%;
        line-height: 300%;
    }

    #newsletter-btn:hover {
        text-decoration: underline;
    }
}

/* Media query: Laptops (1440px and up) */
@media screen and (min-width: 1440px) {

    /* Index page */

    #art-1 img {
        height: 450px;
    }

    /* Car page */

    #art-2 div img {
        height: 500px;
    }
}